form { margin: auto;position: relative; width: 550px;height: 450px;padding:10px;border: solid 1px #999999;background-color: #ffffff;
    font-family: tahoma, Geneva, sans-serif;font-size: 14px;font-weight: bold;color: #fc8c19; line-height: 24px; border-radius:10px;}

    input { width: 370px; display: block;}
    
    .button {
        width: 100px; height: 30px; bottom: 20px;right: 20px; border-radius: 15px;
        background-color: #fc8c19; color: #FFFFFF;}